/task/Atributos/nbproject/private/
/task/atributestest/nbproject/private/
/task/ciclos/nbproject/private/
/task/ciclos/build/
/task/ejercicio2/nbproject/private/
/task/ejercicetwo/nbproject/private/
/task/ejercicio3.1/nbproject/private/
/task/ejercicio3-1/nbproject/private/
/task/ejercicio3-1/build/
/task/ejercicio3-2/nbproject/private/
/task/ejercicio3-2/build/
/task/ejercicio3-3/nbproject/private/
/task/ejercicio3-3/build/